#header {
  color: teal;
  font-size: 3.2vw;
  margin-top: 50px;
  text-align: center;
}

#input {
  margin-top: 60px;

}

#ssn {
  align-self: center;
}

#container {
  margin-left: 150px;
  margin-right: 150px;
}

button {
  margin: 0 auto;
}
